

.search-bar{
  line-height: 3rem;
}

.search-bar label{
  color: white;
}

.input-field input[type=text]:not(.browser-default){
  color: white
}

.input-field input[type=text]:focus + label {
  color: white;
  display: none
}

.input-field input:-internal-autofill-selected{
  background-color: #FFFFFF !important
}

nav .input-field input[type=text]:valid{
  position: relative;
  top:9px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}

.input-field.search-bar i.active{
  color: #FFFFFF;
}

.input-field input:not([type]):focus:not([readonly])+label, 
.input-field input[type=text]:not(.browser-default):focus:not([readonly])+label,
.input-field input[type=text]:not(.browser-default):focus:not([readonly]){
  top:0.3em;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;   
}

.input-field>label:not(.label-icon).active{
  display: none
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

/*Mobile screen sizes */
@media only screen and (max-width: 600px) {
  .hotel-card {
    height: 30em;
  }  
  .input-field .prefix ~ input {
    width: 75%
  }
}
/* Not mobile screen sizes (tablet/desktop)*/
@media only screen and (min-width: 600px) {
  .input-field .prefix ~ input {
    width: 50%
  }
}